
.form {

}

.form-first-column {
  display: flex;
  justify-content: space-between;
  //margin: 40px auto 40px auto;
}

.form-second-column {
  display: flex;
  justify-content: space-between;
  //margin: 40px auto 40px auto;
}

.form-input {
  margin: 30px;
}